:root {
  --search-color: rgba(226, 232, 240, 255);
}

* {
  margin: 0;
  padding: 0;
}

.header, .sidebar-dashboard, .content, .sidebar-announcement, .sidebar-trending {
  border: 1px solid black;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-columns: 1fr 3.5fr 1.25fr;
}

.header {
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  font-size: 1.5rem;
  padding: 0 16px;
}

.search-area {
  display: flex;
  align-items: center;
}

.search-area > input[type="text"] {
  width: 60%;
  border: none;
  border-radius: 2% / 50%;
  padding: 8px;
  background-color: var(--search-color);
}

.avatar {
  width: 50px;
  height: 50px;
  border: 1px solid red;
  border-radius: 50%;
}

.personal-zone {
  margin-right: 30px;
  display: flex;
  justify-content: end;
  align-items: center ;
  gap: 30px;
}

.welcome-message {
  display: flex;
  align-items: center;
  gap: 16px;
}

.welcome-message p:first-child {
  font-size: 1rem;
}

.action-menu {
  margin-right: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 50px;
}

.sidebar-dashboard {
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 16px;
}

.sidebar-dashboard ul {
  font-size: 1.5rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content {
  grid-row: 2 / -1;
}

.sidebar-announcement {
  padding: 8px;
}

.announcement-container {
  display: grid;
  grid-row: repeat(3, 1fr);
  gap: 16px;
  padding: 24px;
}

.announcement > p {
  font-size: 0.9rem;
}

.sidebar-trending {
  grid-column: -2 / -1;
  padding: 8px;
}

.trending-container {
  display: grid;
  grid-row: repeat(4, 1fr);
  gap: 16px;
  padding: 24px;
}

.trending-container > div {
  display: flex;
  align-items: center;
  gap: 8px;
}