body {
  margin: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-columns: 1fr 3.5fr 1.25fr;
}

.header {
  grid-column: 2 / -1;
  background-color: green;
}

.sidebar-dashboard {
  grid-row: 1 / -1;
  background-color: blue;
}

.content {
  grid-row: 2 / -1;
  background-color: gray;
}

.sidebar-announcement {
  background-color: purple;
}

.sidebar-trending {
  grid-column: -2 / -1;
  background-color: brown;
}