:root {
  --gray: rgba(226, 232, 240, 255);
  --purple: #5b2a86;
  --dark-purple: #360568;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.header, .sidebar-dashboard, .content, .sidebar-announcement, .sidebar-trending {
  border: 1px solid black;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-columns: 1fr 3.5fr 1.25fr;
}

.header {
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  font-size: 1.3rem;
  padding: 0 32px;
}

.search-area {
  display: flex;
  align-items: center;
  gap: 16px;
}

.search-area > input[type="text"] {
  width: 60%;
  border: none;
  border-radius: 2% / 50%;
  padding: 8px;
  background-color: var(--gray);
}

.personal-zone {
  margin-right: 30px;
  display: flex;
  justify-content: end;
  align-items: center ;
  gap: 30px;
}

.welcome-message {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: bold;
}

.welcome-message p:first-child {
  font-size: 0.9rem;
}

.action-menu {
  margin-right: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 25px;
}

.action-button {
  font-size: 1rem;
  font-weight: bold;
  padding: 12px 36px;
  color: white;
  background-color: var(--purple);
  border: none;
  border-radius: 20px / 50%;
}

.action-button:hover {
  background-color: var(--dark-purple);
}

.sidebar-dashboard {
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: white;
  background-color: var(--purple);
}

.sidebar-dashboard ul {
  font-size: 1.3rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-dashboard > h2, .sidebar-dashboard ul > li {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: bold;
}

.sidebar-dashboard > h2 {
  padding: 32px 20px;
}

.sidebar-dashboard > ul > li {
  padding: 8px 20px;
}

.sidebar-dashboard ul > li:hover {
  background-color: var(--dark-purple);
}

.content, .sidebar-announcement, .sidebar-trending {
  background-color: var(--gray);
}

.content {
  grid-row: 2 / -1;
  padding: 8px;
}

.content-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card > div {
  display: flex;
  justify-content: end;
}

.iconify {
  font-size: 1.5rem;
}

.sidebar-announcement {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 32px;
}

.announcement-container {
  display: grid;
  grid-row: repeat(3, 1fr);
  gap: 16px;
  padding: 24px;
  background-color: white;
  border-radius: 10px;
}

.announcement > h3 {
  font-size: 1rem;
}

.announcement > p {
  font-size: 0.8rem;
}

.sidebar-trending {
  grid-column: -2 / -1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 32px;
}

.trending-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 16px;
  padding: 16px;
  background-color: white;
  border-radius: 10px;
}

.trending-container > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.bigger-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.cactus-juice {
  background-image: url(img/cactus-juice.jpg);
  background-size: cover;
}

.shadow {
  background-image: url(img/shadow.jpg);
  background-size: cover;
}

.chitose {
  background-image: url(img/chitose.jpg);
  background-size: cover;
}

.duke {
  background-image: url(img/duke.webp);
  background-size: cover;
}

.unknown {
  background-image: url(img/unknown.jpg);
  background-size: cover;
}