* {
  margin: 0;
  padding: 0;
}

.header, .sidebar-dashboard, .content, .sidebar-announcement, .sidebar-trending {
  border: 1px solid black;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-columns: 1fr 3.5fr 1.25fr;
}

.header {
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.personal-zone {
  display: flex;
}

.welcome-message {
  display: flex;
}

.action-menu {
  display: flex;
}

.sidebar-dashboard {
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 16px;
}

.sidebar-dashboard {
  font-size: 1rem;
}

.sidebar-dashboard ul {
  font-size: 1.5rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content {
  grid-row: 2 / -1;
}

.sidebar-announcement {
}

.sidebar-trending {
  grid-column: -2 / -1;
}